<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Checkup List</title>
  </head>
  <body>
    <div class="container my-2">
        <form action="#" method="get">
        <div class="d-flex flex-row justify-content-between align-items-center">
                <div>
                    <label>Select Doctor</label>
                    <select class="form-select" aria-label="Default select example" name="doctor">
                        {% for object in doctor_list  %}
                        <option value="{{ object.id }}">{{object.name}}</option>
                        {% endfor %}
                      </select>
                </div>
                <div>
                    <label for="start-date">Start Date</label>
                    <input class='form-control' type="datetime-local" id="start-date" name="start_date">
                </div>
                <div>
                    <label for="end-date">End Date</label>
                    <input class='form-control' type="datetime-local" id="end-date" name="end_date">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
                </li>
        </div>
    </form>
    </div>
    <div class="container my-3">
        <table class="table table-striped">
           <tr>
               <th>S.N</th>
               <th>Patient Name</th>
               <th>Doctor Name</th>
               <th>Checked Date</th>
           </tr>
           {% for object in checkup_list %}
            <tr>
               <td>{{forloop.counter}}</td>
               <td>{{ object.patient }}</td>
               <td>{{ object.doctor }}</td>
               <td>{{ object.created_at }}</td>
            </tr>
           {% endfor %}
        </table>
    </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>